@page
@using Microsoft.Extensions.Localization
@using Appricot.Abp.FileManagementModule.Localization
@using Appricot.Abp.FileManagementModule.Web.Pages.FileManagementModule
@model Appricot.Abp.FileManagementModule.Web.Pages.FileManagementModule.IndexModel
@inject IStringLocalizer<FileManagementModuleResource> L

@{
}
<h1>FileManagementModule</h1>
<p>@L["SamplePageMessage"]</p>
